<GridLayout rows="auto,auto,auto,auto,auto,auto,auto" class="background p-12">

  <GridLayout row="0" rows="auto" columns="auto,*,auto" >
    <Label col="0" class="itemColor color-white f-28  md" (tap)="back()" text="&#xe313;" ></Label>
    <Label col="2" class="itemColor color-white f-28  md"  text="&#xe255;"  ></Label>
    <Label col="1" class="itemColor color-white f-20" text="Recive" horizontalAlignment="center" ></Label>
  </GridLayout>
  
  <Label row="1"  class="itemColor color-white margin-top " text="This is your address"  horizontalAlignment="center"  ></Label>
  <Label row="2"  class="itemColor color-white" text="Scan this Qr code to reciveTRTL."  horizontalAlignment="center"  ></Label>

  <GridLayout row="3" class="box margin-top ">
      <image src="https://cdn.ttgtmedia.com/rms/misc/qr_code_barcode.jpg"></image>
  </GridLayout>

  <Label row="4"  class="itemColor color-white margin-top " text="TRTL address:"  horizontalAlignment="center"  ></Label>
  <Label row="5"  class="itemColor color-white address" text="TRTLaddressadl0snd12-sndsxkajH2dnsjdaKjdHndsfdIsfk-dRsf9xdsfd0sJSffdkfmsdkfmskjndskadnkasndksjdnks" textWrap="true" horizontalAlignment="center"  ></Label>
  <Button row="6" class="btn margin-top" text="Copy"></Button>
</GridLayout>