<GridLayout rows="auto,auto,auto,auto,auto,auto,auto" class="background">

  <GridLayout row="0" rows="auto" columns="auto,*,auto" >
    <Label col="0" class="itemColor" text="&#xe5cf;" ></Label>
    <Label col="2" class="itemColor"  text="&#xe412;"  ></Label>
    <Label col="1" class="itemColor" text="Recive" horizontalAlignment="center" ></Label>
  </GridLayout>
  
  <Label row="1"  class="itemColor margin-top " text="This is your address"  horizontalAlignment="center"  ></Label>
  <Label row="2"  class="itemColor" text="Scan this Qr code to reciveTRTL."  horizontalAlignment="center"  ></Label>

  <GridLayout row="3" class="box margin-top ">
      <image src="https://cdn.ttgtmedia.com/rms/misc/qr_code_barcode.jpg"></image>
  </GridLayout>

  <Label row="4"  class="itemColor margin-top " text="TRTL address:"  horizontalAlignment="center"  ></Label>
  <Label row="5"  class="itemColor address" text="TRTLaddressadljasfjfjdaskjdnsdkjsndsndskajdnsjdnskajdnskadnsakjdndsfdsfkdsfdsfdfdkfmsdkfmskjndskadnkasndksjdnks" textWrap="true" horizontalAlignment="center"  ></Label>
  <Button row="6" class="btn margin-top" text="Copy"></Button>
</GridLayout>