<GridLayout rows="auto,*,auto" columns="*" class="background">

  <GridLayout row="0" rows="auto,auto" columns="auto,*,auto" >
    <Label class="itemColor" col="0" row="0" text="&#xe191;" textWrap="true"></Label>
    <Label class="itemColor" col="1" row="0" text="&#xe0bc;"  textWrap="true" horizontalAlignment="center" ></Label>
    <Label class="itemColor" col="2" row="0" text="&#xe8b8;" textWrap="true"></Label>
    <Label class="itemColor " col="1" row="1" text="38892.9324234" horizontalAlignment="center" textWrap="true"></Label>
  </GridLayout>

  <RadListView row="1" [items]="dataItems" (itemLoading)="onItemLoading($event)" itemDeleteAnimation="Default"
tkExampleTitle tkToggleNavButton>

<ng-template tkListItemTemplate let-item="item">

  <GridLayout class="list margin-top border" row="auto" columns="*,*,2*" >
    <Label  col="0" text="&#xe872;" class="md-icon "  horizontalAlignment="left" textWrap="true"></Label>
    <Label  col="1" text="500000" horizontalAlignment="center" ></Label>
    <Label  col="2" text="ksjdnsfsssssssalkdasldlasjndalsdn" horizontalAlignment="right"></Label>
  </GridLayout>

    </ng-template>
</RadListView>

  <GridLayout row="2" rows="auto" columns="*,*" class="margin" >
<Button col="0" class="btn" horizontalAlignment="center" text="Recive"></Button>
<Button col="1" class="btn" horizontalAlignment="center" text="Send"></Button>
  </GridLayout>
</GridLayout>



